.flex{
    display: flex;
}

.item-center{
align-items: center;
}

.justify-center{
    justify-content: center;
}

.semibolder{
    font-weight: bolder;
}

.px-10{
padding: 0 10px;
}
.px-20{
    padding: 0 20px;
}

.py-10{
    padding: 10px 0;
}
.py-20{
    padding: 20px 0;
}