@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Montserrat:wght@400;700&family=Open+Sans:ital@1&family=Poppins:wght@200;500&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
}


:root{
    --light-gray:#636363;
}



.item-non-bullet{
    list-style: none;
}

.link{
    text-decoration: none;
}


/* header */
 
.top-header{
    display: flex; 
    flex-wrap: wrap;
    align-items: center;

}
.top-header-left-menu {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
}
 


.top-search-bar{
 display: flex; 
 
 border: 1px solid gray;
 padding: 0 0.3rem;
 margin: 0 2.8rem;
 height: 2rem;
 
}
.top-search-bar input[type]{
width: 30rem;
padding: 0.4rem ;
border: none;
outline: none;

}
.top-search-bar img{
 padding: 0.4rem 0.3rem;

}
.top-header-right-menu{
 
 margin-left: 5rem;
}
 .right-menu-item{
    display: flex;
    flex-wrap: wrap;
 }

 

 .top-header-item a{
    padding: 1rem 0.2rem; 
 display: flex;
 align-items: center;
 color: var(--light-gray);
 }

 .top-header-item a div img{
    margin: 0 0.3rem;
 }
 