@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Montserrat:wght@400;700&family=Open+Sans:ital@1&family=Poppins:wght@200;500&family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Libre+Baskerville:ital@1&family=Montserrat:wght@400;700&family=Open+Sans:ital@1&family=Poppins:wght@200;500&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Libre+Baskerville:ital@1&family=Montserrat:wght@400;700&family=Nunito+Sans:opsz,wght@6..12,300&family=Open+Sans:ital@1&family=Poppins:wght@200;500&family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

:root {
  --light-gray: #636363;
  --secondry-color: #0672cb;
}

.item-non-bullet {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* header */

.top-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.top-header-left-menu {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
}

.top-search-bar {
  display: flex;

  border: 1px solid var(--light-gray);
  padding: 0 0.3rem;
  margin: 0 2.8rem;
  height: 2rem;
}

.top-search-bar input[type] {
  width: 30rem;
  padding: 0.4rem;
  border: none;
  outline: none;
}

@media (max-width: 1335px) {
  .top-search-bar input[type] {
    width: 20rem;
  }
}

.top-search-bar img {
  padding: 0.4rem 0.3rem;
}

.top-header-right-menu {
  margin-left: 5rem;
}

@media (max-width: 1335px) {
  .top-header-right-menu {
    margin-left: 1rem;
  }
}

.right-menu-item {
  display: flex;
  flex-wrap: wrap;
}

.top-header-item .link {
  padding: 1rem 0.2rem;
  display: flex;
  align-items: center;
  color: var(--light-gray);
}

.top-header-item a div img {
  margin: 0 0.3rem;
}

.sign-in-item {
  position: relative;
}

.sign-in-dropdown {
  width: 18rem;
  height: 20.5rem;
  display: none;
  position: absolute;
  border: 1px solid rgb(220, 219, 219);
  right: 0;
  padding: 1rem;
  color: var(--light-gray);
  z-index: 100;
  background-color: white;
}

.sign-in-dropdown ul {
  font-size: 0.87rem;
  padding: 0.7rem 0.71rem;
}

.sign-in-dropdown ul li {
  margin-top: 0.2rem;
}

.sign-in-dropdown p {
  font-size: 0.9rem;
  margin-top: 2.4rem;
}

.sign-in-item:hover {
  background-color: #e4e4e4;
}

.sign-in-item:hover .sign-in-dropdown {
  display: block;
}

.top-arrow {
  transition: 0.3s ease;
}

.top-header-item:hover .top-arrow {
  transform: rotate(-180deg);
}

.dropdown-btn {
  text-decoration: none;
  border: 1px solid var(--secondry-color);

  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.6rem 0;
  border-radius: 2px;
  color: var(--secondry-color);
}

.signin-btn {
  background-color: var(--secondry-color);
  color: white;
}

/* bottom header */

.navigation {
  border-bottom: 2px solid #d7d6d6;
}

.bottom-nav {
  display: flex;
  margin-left: 0.4rem;
}

.nav-item .link {
  display: flex;
  padding: 0.9rem 1rem;
  color: var(--light-gray);
  font-size: 0.9rem;
}
.nav-item {
  border-bottom: 3px solid transparent;
}

.nav-item:hover {
  background-color: #e4e4e4;
  border-bottom: 2px solid var(--light-gray);
}

.nav-item .link img {
  margin-left: 0.5rem;
}

.nav-item:hover .top-arrow {
  transform: rotate(-180deg);
}

/* bottom dropdowns */

.apex-parent {
  position: relative;
}
.contaier-apex-dropdown {
  width: 15rem;
  position: absolute;
  border: 1px solid gray;
  display: none;
  margin-top: 0.2rem;
  background-color: white;
}
.apex-parent:hover .contaier-apex-dropdown {
  display: block;
}

/* nav link */
.nav-link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 0.6rem;
  font-size: 0.9rem;
}

.nav-link:hover {
  background-color: #e4e4e4;
}

.apex-drop-first-parent {
  position: relative;
}

.container-apex-dropdown-child {
  width: 15rem;
  height: 21.5rem;
  background-color: #fbfbfb;
  border: 1px solid gray;
  left: 15rem;
  top: 0;
}

.apex-dropdown-first-child {
  position: absolute;
  display: none;
  left: 15rem;
  top: 0;
}

.apex-dropdown-second-child {
  display: none;
  position: absolute;
}
.apex-drop-second-parent:hover .apex-dropdown-first-child {
  display: block;
}

.apex-drop-third-parent:hover .apex-dropdown-second-child {
  display: block;
}

.apex-dropdown-forth-child {
  position: absolute;
  display: none;
}

.apex-drop-forth-parent:hover .apex-dropdown-forth-child {
  display: block;
}

.apex-dropdown-five-child {
  position: absolute;
  display: none;
}

.apex-drop-five-parent:hover .apex-dropdown-five-child {
  display: block;
}

.apex-dropdown-six-child {
  position: absolute;
  display: none;
}
.apex-drop-six-parent:hover .apex-dropdown-six-child {
  display: block;
}
.apex-dropdown-seven-child {
  position: absolute;
  display: none;
}
.apex-drop-seven-parent:hover .apex-dropdown-seven-child {
  display: block;
}

/* product dropdown */
.contaier-product-dropdown {
  width: 15rem;
  position: absolute;
  border: 1px solid gray;
  display: none;
  margin-top: 0.2rem;
  background-color: white;
}
.product-parent:hover .contaier-product-dropdown {
  display: block;
}

.container-product-dropdown-child {
  width: 15rem;
  height: 29.4rem;
  background-color: #fbfbfb;
  border: 1px solid gray;
  left: 15rem;
  top: 0;
}

.product-first-parent {
  position: relative;
}

.product-dropdown-first-child {
  position: absolute;
  display: none;
}

.product-drop-first-parent:hover .product-dropdown-first-child {
  display: block;
}

.product-dropdown-second-child {
  position: absolute;
  display: none;
}
.product-drop-second-parent:hover .product-dropdown-second-child {
  display: block;
}

/* -------header css finished---- */

.category-container {
  display: flex;
  justify-content: center;
  height: 7.5rem;
  overflow: hidden;
  background-color: #f9f9f9;
}

.category-box {
  width: 10rem;
}

.cat-item {
  width: 10rem;
  padding: 1.4rem 0;
  text-align: center;
  transition: 0.3s;
}

.cat-item .cat-label {
  margin-top: 1rem;
}

.cat-item .cat-links {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  transition: 0.1s;
}
.cat-item .cat-links a {
  margin: 0.5rem 0;
  text-decoration: none;
  color: #0063b8;
}

.category-box:hover .cat-item {
  transform: translatey(-55px);
}

.cat-item:hover .cat-links {
  margin-top: 0;
}

.category-box:hover p {
  margin-top: 0;
}

/* hero image css*/

.hero-img img {
  width: 100%;
  height: 25rem;
}

.latest-products-container {
  padding: 0.5rem 0;
}
.product-title {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  padding-left: 4rem;
  margin: 2rem 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: rgb(71, 70, 70);
}

.product-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0.2rem 0;
}
.product-box {
  text-align: center;
  position: relative;
  width: 18rem;
  padding: 0.8rem 0;
  box-shadow: 0.2px 0.2px 5px 0.5px rgb(155, 155, 155);
}

.product-icon {
  position: absolute;
  left: 13rem;
  display: none;
}

.product-icon .product-icon-size {
  width: 2rem;
  background-color: #f2eeedc9;
  border-radius: 50%;
  padding: 0.6rem;
  border: 0.2px solid white;
}

.product-box:hover .product-icon {
  display: block;
}

.product-box .product-img {
  width: 100%;
  height: 10rem;
}
.product-box img {
  width: 15rem;
}

.product-name,
.product-dis,
.product-price {
  margin: 0.7rem 0;
}

.product-name {
  font-weight: bold;
  color: var(--light-gray);
  letter-spacing: 0.1rem;
}
.product-dis {
  color: var(--light-gray);
  font-size: 0.9rem;
}

.product-price {
  color: red;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

/* ########### customer report section css  ######## */
.customer-reprot-section {
  background-image: linear-gradient(140deg, rgb(197, 209, 225), rgb(1, 44, 92));
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 12rem 12rem;
  gap: 1rem;
  padding: 3rem;
}

.ct-r-box {
  background-color: #002b58;
}

.ct-r-box-first {
  background-color: #002b58;
  grid-column: 1/3;
  display: flex;
}

.cust-txt-box {
  color: white;
}
.cust-txt-box .ct-first-box {
  display: flex;
  width: 26rem;
}
.cust-txt-box .ct-first-box,
.ct-second-box {
  margin: 2rem 0.5rem;
}
.ct-icon{
  color: white;
}


.v-line {
  width: 4px;
  height: 65px;
  background-color: yellow;
  margin: 2rem 1rem;
}

.cust-pr-box {
  display: flex;
  align-items: center;
  padding: 0 2.5rem;
  text-align: center;
}
.ct-second-box p {
  font-size:1rem;
}

.cust-pr-box h3 {
  font-size: 2.5rem;
  color: rgb(182, 182, 0);
}
.cust-pr-box p {
  font-size: 0.9rem;
  color: white;
  padding: 0.5rem 0;
}

.cust-pr-box-first,
.cust-pr-box-second,
.cust-pr-box-third {
  margin: 0 1rem;
}

.ct-r-box-third,
.ct-r-box-second {
  display: flex;
}

.ct-r-box-second .v-line {
  width: 3px;
  height:25px;
}

.ct-r-box-third,
.ct-r-box-second {
  padding: 0rem 1rem;
}

.ct-r-box-third .v-line {
  width: 3px;
  height: 25px;
}

.ct-r-box-third .cust-txt-box .ct-first-box {
  width: 31rem;
}

.ct-r-box-third .cust-txt-box .ct-second-box {
  margin: 0rem 0.5rem;
}


.product-bottom-title {
  text-align: center;
  

}
.product-bottom-title h3 {
  padding: 1rem 0;
  font-size: 1.9rem;
  

}


/* ############----footer css---####### */

.footer-container{
  background-color: #F6F6F6;
 
  display: flex;
  height: 15rem;
  justify-content: center;
 align-items: center;
}
.ft-box{
  height: 10rem;
 
 
}





.ft-box-first ul ,
.ft-box-second ul {
   list-style: none;
  
}
.ft-box-first ul li,.ft-box-second ul li,.ft-box-third ul li{
  width: 18rem;
  padding: 0.3rem 0;
  font-family: 'Nunito Sans', sans-serif;
  
}
 
 
.ft-box-first ul li a,
.ft-box-second ul li a,
.ft-box-third ul li a{
  font-family: 'Nunito Sans', sans-serif;  
 
   font-size: 0.9rem; 
   color: #000000;

}
 

.ft-box-third ul li a img{
  margin-right: 1rem;
  
}

.ft-box-fourth h4,p,.ft-subscribe {
padding: 0.5rem 0.3rem;

}
.ft-box-fourth h4 {font-family: 'Josefin Sans', sans-serif;
}

  .ft-box-fourth p{

width: 12rem;
font-size: 0.9rem; 

}
 
.ft-box-fourth .ft-subscribe input[type]{
 padding: 0.5rem;
 width: 12rem;
 border: 1px solid rgb(219, 219, 219);
 outline: none;

}
 

.ft-box-fourth .ft-subscribe a{
 background-color: #0063b8;
 color: white;
 padding: 0.5rem;
 
}
.ft-box-fourth .ft-subscribe a:hover{
 background-color: white;
 color:#0063b8;
 border: 1px solid #0063b8;

}
 

.footer-bottom p{
  font-size: 0.9rem;
  margin: 1rem 4rem;
  font-family: 'Nunito Sans', sans-serif;

  }
  