@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Montserrat:wght@400;700&family=Open+Sans:ital@1&family=Poppins:wght@200;500&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Libre+Baskerville:ital@1&family=Montserrat:wght@400;700&family=Open+Sans:ital@1&family=Poppins:wght@200;500&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Libre+Baskerville:ital@1&family=Montserrat:wght@400;700&family=Nunito+Sans:opsz,wght@6..12,300&family=Open+Sans:ital@1&family=Poppins:wght@200;500&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;

}
html,body{
  width: 100%;
  height: 100%;
}

body{
  position: relative;
}
:root {
  --light-gray: #636363;
  --secondry-color: #0672cb;
}

.item-non-bullet {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* header */

.top-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.top-header-left-menu {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
}

.top-search-bar {
  display: flex;

  border: 1px solid var(--light-gray);
  padding: 0 0.3rem;
  margin: 0 2.8rem;
  height: 2rem;
}

.top-search-bar input[type] {
  width: 30rem;
  padding: 0.4rem;
  border: none;
  outline: none;
}

@media (max-width: 1335px) {
  .top-search-bar input[type] {
    width: 20rem;
  }
}

.top-search-bar img {
  padding: 0.4rem 0.3rem;
}

.top-header-right-menu {
  margin-left: 5rem;
}

@media (max-width: 1335px) {
  .top-header-right-menu {
    margin-left: 1rem;
  }
}

.right-menu-item {
  display: flex;
  flex-wrap: wrap;
}

.top-header-item .link {
  padding: 1rem 0.2rem;
  display: flex;
  align-items: center;
  color: var(--light-gray);
}

.top-header-item a div img {
  margin: 0 0.3rem;
}

.sign-in-item {
  position: relative;
}

.sign-in-dropdown {
  width: 18rem;
  height: 25.5rem;
  display: none;
  position: absolute;
  border: 1px solid rgb(220, 219, 219);
  right: 0;
  padding: 1rem;
  color: var(--light-gray);
  z-index: 100;
  background-color: white;
}

.sign-in-dropdown ul {
  font-size: 0.87rem;
  padding: 0.7rem 0.71rem;
}

.sign-in-dropdown ul li {
  margin-top: 0.2rem;
}

.sign-in-dropdown p {
  font-size: 0.9rem;
  margin-top: 2.4rem;
}

.sign-in-item:hover {
  background-color: #e4e4e4;
}

.sign-in-item:hover .sign-in-dropdown {
  display: block;
}

.top-arrow {
  transition: 0.3s ease;
}

.top-header-item:hover .top-arrow {
  transform: rotate(-180deg);
}

.dropdown-btn {
  text-decoration: none;
  border: 1px solid var(--secondry-color);

  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.6rem 0;
  border-radius: 2px;
  color: var(--secondry-color);
}

.signin-btn {
  background-color: var(--secondry-color);
  color: white;
}

/* bottom header */

.navigation {
  border-bottom: 2px solid #d7d6d6;
}

.bottom-nav {
  display: flex;
  margin-left: 0.4rem;
}

.nav-item .link {
  display: flex;
  padding: 0.9rem 1rem;
  color: var(--light-gray);
  font-size: 0.9rem;
}
.nav-item {
  border-bottom: 3px solid transparent;
}

.nav-item:hover {
  background-color: #e4e4e4;
  border-bottom: 2px solid var(--light-gray);
}

.nav-item .link img {
  margin-left: 0.5rem;
}

.nav-item:hover .top-arrow {
  transform: rotate(-180deg);
}

/* bottom dropdowns */

.apex-parent {
  position: relative;
}
.contaier-apex-dropdown {
  width: 15rem;
  position: absolute;
  border: 1px solid gray;
  display: none;
  margin-top: 0.2rem;
  background-color: white;
}
.apex-parent:hover .contaier-apex-dropdown {
  display: block;
}

/* nav link */
.nav-link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 0.6rem;
  font-size: 0.9rem;
}

.nav-link:hover {
  background-color: #e4e4e4;
}

.apex-drop-first-parent {
  position: relative;
}

.container-apex-dropdown-child {
  width: 15rem;
  height: 21.5rem;
  background-color: #fbfbfb;
  border: 1px solid gray;
  left: 15rem;
  top: 0;
}

.apex-dropdown-first-child {
  position: absolute;
  display: none;
  left: 15rem;
  top: 0;
}

.apex-dropdown-second-child {
  display: none;
  position: absolute;
}
.apex-drop-second-parent:hover .apex-dropdown-first-child {
  display: block;
}

.apex-drop-third-parent:hover .apex-dropdown-second-child {
  display: block;
}

.apex-dropdown-forth-child {
  position: absolute;
  display: none;
}

.apex-drop-forth-parent:hover .apex-dropdown-forth-child {
  display: block;
}

.apex-dropdown-five-child {
  position: absolute;
  display: none;
}

.apex-drop-five-parent:hover .apex-dropdown-five-child {
  display: block;
}

.apex-dropdown-six-child {
  position: absolute;
  display: none;
}
.apex-drop-six-parent:hover .apex-dropdown-six-child {
  display: block;
}
.apex-dropdown-seven-child {
  position: absolute;
  display: none;
}
.apex-drop-seven-parent:hover .apex-dropdown-seven-child {
  display: block;
}

/* product dropdown */
.contaier-product-dropdown {
  width: 15rem;
  position: absolute;
  border: 1px solid gray;
  display: none;
  margin-top: 0.2rem;
  background-color: white;
}
.product-parent:hover .contaier-product-dropdown {
  display: block;
}

.container-product-dropdown-child {
  width: 15rem;
  height: 29.4rem;
  background-color: #fbfbfb;
  border: 1px solid gray;
  left: 15rem;
  top: 0;
}

.product-first-parent {
  position: relative;
}

.product-dropdown-first-child {
  position: absolute;
  display: none;
}

.product-drop-first-parent:hover .product-dropdown-first-child {
  display: block;
}

.product-dropdown-second-child {
  position: absolute;
  display: none;
}
.product-drop-second-parent:hover .product-dropdown-second-child {
  display: block;
}

/* -------header css finished---- */

.category-container {
  display: flex;
  justify-content: center;
  height: 7.5rem;
  overflow: hidden;
  background-color: #f9f9f9;
}

.category-box {
  width: 10rem;
}

.cat-item {
  width: 10rem;
  padding: 1.4rem 0;
  text-align: center;
  transition: 0.3s;
}

.cat-item .cat-label {
  margin-top: 1rem;
}

.cat-item .cat-links {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  transition: 0.1s;
}
.cat-item .cat-links a {
  margin: 0.5rem 0;
  text-decoration: none;
  color: #0063b8;
}

.category-box:hover .cat-item {
  transform: translatey(-55px);
}

.cat-item:hover .cat-links {
  margin-top: 0;
}

.category-box:hover p {
  margin-top: 0;
}

/* hero image css*/

.hero-img img {
  width: 100%;
  height: 25rem;
}

.latest-products-container {
  padding: 0.5rem 0;
}
.product-title {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  padding-left: 4rem;
  margin: 2rem 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: rgb(71, 70, 70);
}

.product-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0.2rem 0;
}
.product-box {
  text-align: center;
  position: relative;
  width: 18rem;
  padding: 0.8rem 0;
  box-shadow: 0.2px 0.2px 5px 0.5px rgb(155, 155, 155);
}

.product-icon {
  position: absolute;
  left: 13rem;
  padding: 15px 0px;

} 

.heart .icon-size{
 width: 30px;

}

.heart{
  border: 1px solid gray;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 5px 0px;
display: flex;
justify-content: center;
align-items: center;
}

 .product-box:hover.product-icon{
  display: block;
 }

.product-box .product-img {
  width: 100%;
  height: 10rem;
}
.product-box img {
  width: 15rem;
}

.product-name,
.product-dis,
.product-price {
  margin: 0.7rem 0;
}

.product-name {
  font-weight: bold;
  color: var(--light-gray);
  letter-spacing: 0.1rem;
}
.product-dis {
  color: var(--light-gray);
  font-size: 0.9rem;
}

.product-price {
  color: red;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

/* ########### customer report section css  ######## */
.customer-reprot-section {
  background-image: linear-gradient(140deg, rgb(197, 209, 225), rgb(1, 44, 92));
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 12rem 12rem;
  gap: 1rem;
  padding: 3rem;
}

.ct-r-box {
  background-color: #002b58;
}

.ct-r-box-first {
  background-color: #002b58;
  grid-column: 1/3;
  display: flex;
}

.cust-txt-box {
  color: white;
}
.cust-txt-box .ct-first-box {
  display: flex;
  width: 26rem;
}
.cust-txt-box .ct-first-box,
.ct-second-box {
  margin: 2rem 0.5rem;
}
.ct-icon {
  color: white;
}

.v-line {
  width: 4px;
  height: 65px;
  background-color: yellow;
  margin: 2rem 1rem;
}

.cust-pr-box {
  display: flex;
  align-items: center;
  padding: 0 2.5rem;
  text-align: center;
}
.ct-second-box p {
  font-size: 1rem;
}

.cust-pr-box h3 {
  font-size: 2.5rem;
  color: rgb(182, 182, 0);
}
.cust-pr-box p {
  font-size: 0.9rem;
  color: white;
  padding: 0.5rem 0;
}

.cust-pr-box-first,
.cust-pr-box-second,
.cust-pr-box-third {
  margin: 0 1rem;
}

.ct-r-box-third,
.ct-r-box-second {
  display: flex;
}

.ct-r-box-second .v-line {
  width: 3px;
  height: 25px;
}

.ct-r-box-third,
.ct-r-box-second {
  padding: 0rem 1rem;
}

.ct-r-box-third .v-line {
  width: 3px;
  height: 25px;
}

.ct-r-box-third .cust-txt-box .ct-first-box {
  width: 31rem;
}

.ct-r-box-third .cust-txt-box .ct-second-box {
  margin: 0rem 0.5rem;
}

.product-bottom-title {
  text-align: center;
}
.product-bottom-title h3 {
  padding: 1rem 0;
  font-size: 1.9rem;
}

/* ############----footer css---####### */

.footer-container {
  background-color: #f6f6f6;

  display: flex;
  height: 15rem;
  justify-content: center;
  align-items: center;
}
.ft-box {
  height: 10rem;
}

.ft-box-first ul,
.ft-box-second ul {
  list-style: none;
}
.ft-box-first ul li,
.ft-box-second ul li,
.ft-box-third ul li {
  width: 18rem;
  padding: 0.3rem 0;
  font-family: "Nunito Sans", sans-serif;
}

.ft-box-first ul li a,
.ft-box-second ul li a,
.ft-box-third ul li a {
  font-family: "Nunito Sans", sans-serif;

  font-size: 0.9rem;
  color: #000000;
}

.ft-box-third ul li a img {
  margin-right: 1rem;
}

.ft-box-fourth h4,
p,
.ft-subscribe {
  padding: 0.5rem 0.3rem;
}
.ft-box-fourth h4 {
  font-family: "Josefin Sans", sans-serif;
}

.ft-box-fourth p {
  width: 12rem;
  font-size: 0.9rem;
}

.ft-box-fourth .ft-subscribe input[type] {
  padding: 0.5rem;
  width: 12rem;
  border: 1px solid rgb(219, 219, 219);
  outline: none;
}

.ft-box-fourth .ft-subscribe a {
  background-color: #0063b8;
  color: white;
  padding: 0.5rem;
}
.ft-box-fourth .ft-subscribe a:hover {
  background-color: white;
  color: #0063b8;
  border: 1px solid #0063b8;
}

.footer-bottom p {
  font-size: 0.9rem;
  margin: 1rem 4rem;
  font-family: "Nunito Sans", sans-serif;
}

/* ==== Product listing css start=== */
.main-heading {
  text-align: center;
  font-size: 2.2rem;
  padding: 1rem 0;
  font-weight: 100;
}

.product-listing-container {
  display: grid;
  width: 93%;
  margin: auto;
  gap: 1rem;

  grid-template-columns: 20% 80%;
  grid-template-areas:
    "filter sort"
    "filter pro-result1"
    "filter pro-result2"
    "filter pro-result3"
    "filter pro-result4";
}

.filter-section {
  grid-area: filter;
}

.sort-section {
  grid-area: sort;
  height: 2rem;
}
.product-section1 {
  grid-area: pro-result1;
  height: 25rem;
}
.product-section2 {
  grid-area: pro-result2;
  height: 25rem;
}
.product-section3 {
  grid-area: pro-result3;
  height: 25rem;
}
.product-section4 {
  grid-area: pro-result4;
  height: 25rem;
}
.filter-box {
  background-color: #f3f3f3;
  margin: 0.4rem 0;
  border-radius: 5px;
  padding: 0.9rem 0.6rem;
}

.filter-heading {
  display: flex;
  justify-content: space-between;
  color: #002b58;
  font-weight: bold;
  font-size: 0.9rem;
}

.filter-option {
  width: 100%;
  margin: 0.7rem 0.2rem;
  font-size: 0.9rem;
  color: #333333;
}
.filter-option input[type="radio"],
.filter-option input[type="checkbox"] {
  width: 1.05rem;
  height: 1.05rem;
  vertical-align: middle;
}
.filter-option label {
  margin-left: 0.4rem;
}

.sort-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;
  padding: 0.2rem 0.5rem;
}

.sort-section select {
  height: 2.5rem;
  width: 10rem;
  padding: 0 0.4rem;
  color: #444444;
  border-radius: 10px;
}

.product-section1,
.product-section2,
.product-section3,
.product-section4 {
  box-shadow: 0 0 3px;
  display: flex;
  padding: 0.2rem 0.2rem;
}

.pro-item-box {
  width: 25rem;
}

.pro-image-box {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-areas:
    "top top"
    "left right"
    "bottom bottom";
}

.pro-image-box .pro-top-box {
  grid-area: top;
  height: 2rem;
  text-align: right;
}
.pro-image-box .pro-left-box {
  grid-area: left;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pro-image-box .pro-right-box {
  grid-area: right;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pro-image-box .pro-bottom-box {
  grid-area: bottom;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pro-left-box img {
  width: 4rem;
}
.pro-right-box img {
  width: 16rem;
}
.pro-top-box div {
  padding: 0.4rem 0.9rem;
}

.pro-bottom-box .pro-color-btn {
  border: 1px solid black;
  border-radius: 50%;
  padding: 4px;
}
.pro-bottom-box .pro-color-btn .color-btn {
  background-color: gray;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.pro-name-box h3,
.order-code,
.rev-star {
  margin: 5px 0px;
}

.space-heading {
  display: flex;
  gap: 8px;
  margin: 15px 0px;
  padding: 0.5rem 0;
  border-bottom: 1px solid rgb(235, 233, 233);
  width: 90%;
}
.space-heading a {
  color: #0063b8;
}

.pro-item-details .pro-name-box h3 a {
  font-size: 1.3rem;
  color: #0672cb;
  font-weight: 100;
}
.pro-item-details .pro-name-box .order-code {
  font-size: 0.8rem;
  color: #767676;
}
.rev-star img {
  font-size: 0.8rem;
  color: #0672cb;
}
.pro-space-details .space-title-name,
.space-title {
  padding: 0.3rem 0;
}

.space-title {
  color: #636363;
  font-size: 0.8rem;
  display: inline-block;
  width: 4.2rem;
}

.space-title-name {
  display: inline-block;
  width: 15.8rem;
}
.pro-price {
  font-weight: 700;
  font-size: 1.3rem;
}

.save-price {
  font-size: 0.8rem;
}

.online-price {
  font-size: 0.8rem;
}

.pro-price-box div {
  margin: 10px 0px;
}

.save-price-color {
  font-size: 0.8rem;
  font-weight: bold;
  color: #4f7d00;
}

.special-off-box ul li {
  font-size: 0.8rem;
  margin: 10px 19px;
  color: #0672cb;
}

.special-off-box ul li a {
  color: #0672cb;
}

.financing-box p {
  font-size: 0.8rem;
}

/* === cart.html style css == */

.cart-container {
  background-color: red;
  display: flex;
  flex-wrap: wrap;
}

/* hide elemenet  */
.top-res-h-l-menu {
  display: none;
}

.search-bar-res{
  display: none;
}



/* responsive css */

@media (max-width: 600px) {
 body{
  background-color: #F5F6F7;
 }


  /* nav bar */
  .top-header-left-menu {
    display: none;
  }
  .top-header-right-menu {
    display: none;
  }
  /* .navigation{
  visibility: hidden;
} */

  .top-header {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
  }
  .top-res-h-l-menu {
    visibility: visible;
    width: 100%;    
    display: flex;
    justify-content: space-between;
    padding: 4px 15px;
   
  }

  .top-res-h-l-menu .left-res-item,
  .right-res-item {
    display: flex;
    vertical-align: middle;
  }
  .top-res-h-l-menu .left-res-item .ham-btn {
    width: 50px;
    
    background: transparent;     
    font-size: 1.5rem;
    border: none;
    color: #636363;
  }
  
  .top-res-h-l-menu .left-res-item .ham-btn:hover {
    background-color: #76767625;
    border-bottom: 2px solid #444444;
  }
  
  .top-res-h-l-menu .left-res-item .ham-close-btn {
   display: none;
  }



  .top-res-h-l-menu .left-res-item .mini-logo {
    padding: 10px 5px;
  }
  .top-res-h-l-menu .right-res-item {
    padding: 10px 5px;
  }
  .top-res-h-l-menu .right-res-item img {
    margin: 0px 5px;
  }
  .top-res-h-l-menu .right-res-item img :hover{
    background-color: #7676761c;
    border-bottom: 2px solid #444444;
 
   }
  
  /* bottom header navigation bar */
  .navigation {
    display: none;
  }

  /* search bar */

  .bottom-header {
    width: 100%;
    text-align: center;
    padding: 15px;
    background-color: #fff;
   border-bottom: 1px solid rgba(0, 0, 0, 0.124);
  }
  .search-bar-res {
    display: flex;
    justify-content: space-between;
    border: 1px solid #767676b8;
    border-radius: 2px;
  }

  .search-bar-res input[type] {
    padding: 10px;
    width: 91%;
    outline: none;
    border: none;
  }
  ::placeholder {
    font-size: 1.1rem;
  }

  .search-icon button {
    width: 40px;
    height: 40px;
    font-size: 1.3rem;

    background: transparent;
    border: none;
    color: #767676;
  }

  .search-icon button:hover {
    background-color: rgba(212, 212, 212, 0.324);
  }

  /* category-container responsive css */
  .category-container {
    width: 99%;
    height: 377px;
    margin: 10px 5px;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.266);
   
    
  }
  .category-box {
    grid-template-columns: 2;     
    width: 284px;
    height: 126px; 
    overflow: hidden;
  }
  .category-box:hover {
    background-color: #d7d6d6;
  }

  .cat-item{
    width: 276px;
   
  }

  .hero-img{
    display: none;
  }

.customer-reprot-section{
  display: none;
}





/* hamburger menu */

.ham-bg-container-show{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.237);
  top: 60px;
  left: 0;
}
 
.ham-container{
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: #fff;   
   
  left: -20rem; 
  padding:50px 0px;
  box-shadow: 0px -1px 1px rgb(185, 185, 185);
 

}


.ham-container .ham-list{
  list-style: none;
}
.ham-container li a{
  
  color: #767676;
  font-size: 1.2rem;
}
 





}
