@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Montserrat:wght@400;700&family=Open+Sans:ital@1&family=Poppins:wght@200;500&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

:root {
  --light-gray: #636363;
  --secondry-color: #0672CB;
}

.item-non-bullet {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* header */

.top-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.top-header-left-menu {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
}

.top-search-bar {
  display: flex;

  border: 1px solid var(--light-gray);
  padding: 0 0.3rem;
  margin: 0 2.8rem;
  height: 2rem;
}

.top-search-bar input[type] {
  width: 30rem;
  padding: 0.4rem;
  border: none;
  outline: none;
}

.top-search-bar img {
  padding: 0.4rem 0.3rem;
}

.top-header-right-menu {
  margin-left: 5rem;
}

.right-menu-item {
  display: flex;
  flex-wrap: wrap;
}

.top-header-item .link {
  padding: 1rem 0.2rem;
  display: flex;
  align-items: center;
  color: var(--light-gray);
}

.top-header-item a div img {
  margin: 0 0.3rem;
}

.sign-in-item {
  position: relative;
}

.sign-in-dropdown {
  width: 18rem;
  height: 20.5rem;
  display: none;
  position: absolute;
  border: 1px solid rgb(220, 219, 219);
  right: 0;
  padding: 1rem;
  color: var(--light-gray);
}

.sign-in-dropdown ul {
  font-size: 0.87rem;
  padding: 0.7rem 0.71rem;
 
}

.sign-in-dropdown ul li {
  margin-top: 0.2rem;
}

.sign-in-dropdown p {
  font-size: 0.9rem;
  margin-top: 2.4rem;
}

.sign-in-item:hover {
  background-color: #e4e4e4;
}

.sign-in-item:hover .sign-in-dropdown {
  display: block;
}

.top-arrow{
  transition: 0.3s ease;
}

.top-header-item:hover .top-arrow{
  transform: rotate(-180deg);
}


.dropdown-btn {
  text-decoration: none;
  border: 1px solid var(--secondry-color);
 
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.6rem 0;
  border-radius: 2px;
  color: var(--secondry-color);
}

.signin-btn {
  background-color: var(--secondry-color);
  color: white;
}




/* bottom header */

.bottom-nav {
  display: flex;
  margin-left: 0.4rem;
}

 
.nav-item .link {
  display: flex;
  padding: 0.9rem 1rem;
  color: var(--light-gray);
  font-size: 0.9rem;

}

.nav-item:hover {
  background-color: #e4e4e4;
  border-bottom: 2px solid #636363;
}

.nav-item .link img {
margin-left: 0.5rem;

}

.nav-item:hover .top-arrow{
  transform: rotate(-180deg);
}




/* bottom dropdowns */
 
.apex-parent{
  position: relative;
}
.contaier-apex-dropdown{
  width: 15rem;
  position: absolute;
  border: 1px solid gray;
  display: none;


}
.apex-parent:hover .contaier-apex-dropdown{
  display: block;
}




/* nav link */
.nav-link {
 text-decoration: none;
 display: flex;
 justify-content: space-between;
 padding: 0.6rem 0.6rem;
 font-size: 0.9rem;
 color: var(--light-gray);
}
 
.nav-link:hover{
  background-color: #e4e4e4;

}


.apex-drop-first-parent{
 position: relative;
}


.container-apex-dropdown-child{

  width: 15rem;
  height: 21.5rem;
  background-color: #fbfbfb;
  border: 1px solid gray;
  left: 15rem;
  top: 0;  

}


.apex-dropdown-first-child{

  position: absolute;
  display: none;
  left: 15rem;
  top: 0;
  
}

 

.apex-dropdown-second-child{
display: none;
position: absolute;

}
.apex-drop-second-parent:hover .apex-dropdown-first-child{
  display:block;
}

.apex-drop-third-parent:hover .apex-dropdown-second-child{
  display: block;
}


.apex-dropdown-forth-child{
  position: absolute;
  display: none;
}


.apex-drop-forth-parent:hover .apex-dropdown-forth-child{
  display: block;
}


.apex-dropdown-five-child{
  position: absolute;
  display: none;
}

.apex-drop-five-parent:hover .apex-dropdown-five-child{
  display: block;
}

.apex-dropdown-six-child{
  position: absolute;
  display: none;
}
.apex-drop-six-parent:hover .apex-dropdown-six-child{
  display: block;
}
.apex-dropdown-seven-child{
  position: absolute;
  display: none;
}
.apex-drop-seven-parent:hover .apex-dropdown-seven-child{
  display: block;
}


/* product dropdown */
.contaier-product-dropdown{
  width: 15rem;
  position: absolute;
  border: 1px solid gray;
  display: none;


}
.product-parent:hover .contaier-product-dropdown{
  display: block;
}

.container-product-dropdown-child{
  width: 15rem;
  height:29.4rem;
  background-color: #fbfbfb;
  border: 1px solid gray;
  left: 15rem;
  top: 0;  

}

.product-first-parent{
  position: relative;
}

.product-dropdown-first-child{
  position: absolute;
  display: none;
}

.product-drop-first-parent:hover .product-dropdown-first-child{
  display: block;
}

.product-dropdown-second-child{
  position: absolute;
  display: none;
}
.product-drop-second-parent:hover .product-dropdown-second-child{
  display: block;
}




